.loginCard {
	display: flex;
	justify-content: center;
	min-width: 70rem;
	margin-bottom: 4rem;
}

.loginHeader {
	display: flex;
	justify-content: left;
	font-size: 4.5rem;
	color: #000000;
	border-bottom: 0.1rem groove #8e94f2;
	padding: 2rem 0 1.1rem;
}

.loginHeader {
	position: relative;
}

.loginHeader:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0.3rem;
	bottom: 0;
	right: 0;
	background: #8e94f2;
	transition: width 0.4s linear;
	-webkit-transition: width 0.5s ease-in-out;
}

.loginHeader:hover:after {
	width: 100%;
	left: 0;
}

.loginForm {
	width: 40rem;
	min-width: 40rem;
	margin: 0 auto;
	padding-bottom: 7rem;
}

.registerLink {
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* //leftovers// */

/* 
input[type='email'],
input[type='password'],
input[type='text'] {
	position: relative;
}


input[type='email']:before,
input[type='password']:before,
input[type='text']:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #000;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;


}

input[type='email']:focus:after,
input[type='password']:focus:after,
input[type='text']:focus:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);

} */

/* content: '';
	width: 100%;
	height: .1rem;
	bottom: .0;
	left: 0;
	background-color: #8e94f2;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition:  0.5s linear;
	transition:  0.5s linear; */

/*
input[type='email']:focus,
input[type='password']:focus,
input[type='text']:focus {
	color: #8e94f2;
}


input[type='email']:before ,
input[type='password']:before ,
input[type='text']:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #8e94f2;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
  }

  input[type='email']:focus:after,
input[type='password']:focus:after,
input[type='text']:focus:after {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  }
 */
