.loginCard {
	height: 100%;
	display: flex;
	justify-content: center;
	min-width: 70rem;
	margin-bottom: 4rem;
	background: #77ff00;
	transition: 0.8s;
}

.loginCard:hover {
	background: #ff77ff;
}

.loginCard:active {
	transform: translate(0, -2rem);
}

.loginCard:hover:active {
	background: #090909;
}

.loginBox {
	width: 48rem;
	height: 73rem;
	background: #f3f2f2;
	transition: 2s;
}

.loginBox:hover {
	width: 77rem;
	height: 79rem;
	box-shadow: 0rem 13rem 13rem 0rem rgba(0, 0, 0, 0.88);
}

.loginBoxInner {
	width: 48rem;
	height: 73rem;
	transition: 2s;
}

.loginBoxInner:hover {
	width: 77rem;
	height: 79rem;
	opacity: 0.999;
}

.loginHeader {
	display: flex;
	justify-content: left;
	position: relative;
	font-size: 4.5rem;
	color: #000000;
	border-bottom: 0.1rem groove #8e94f2;
	padding: 2rem 0 1.1rem;
	transition: 2s linear;
}

.loginHeader:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0.3rem;
	bottom: 0;
	right: 0;
	background: #8e94f2;
	transition: width 0.4s linear;
	-webkit-transition: width 0.5s ease-in-out;
}

.loginHeader:hover:after {
	width: 100%;
	left: 0;
}

.loginForm {
	width: 40rem;
	min-width: 40rem;
	margin: 0 auto;
	padding-bottom: 7rem;
	transition: 1.7s;
}

.loginForm:hover {
	width: 59rem;
}

.registerLink {
	font-size: 1.5rem;
	margin-bottom: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 2s;
}
