.loginCard {
	display: flex;
	justify-content: center;
	min-width: 50rem;
	margin-bottom: 5rem;
}

.loginHeader {
	display: flex;
	font-size: 4.5rem;
	font-weight: 100;
	color: #000000;
	font-family: 'Bebas Neue';
	border-bottom: 0.1rem groove #e1106199;
}

.loginForm {
	width: 40rem;
	margin: 0 auto;
	padding-bottom: 7rem;
}


.registerLink {
	display: flex;
	flex-direction: column;
}


