.App {
	height: 100%;
	margin: 0 auto;
	color: #a9a9a9;
}

body {
	background: #f3f2f2;
	font-family: 'Segoe UI', sans-serif;
}

form {
	width: 45rem;
	margin: 0 auto;
}

h1 {
	color: #a9a9a9;
	text-align: center;
	padding-bottom: 1.3rem;
	border-bottom: 0.1rem solid;
	font-weight: 100;
}

p {
	color: #e11061;
}

label {
	text-align: left;
	display: block;
	margin-bottom: 1.3rem;
	margin-top: 1.8rem;
	color: #6e6e6e;
	font-size: 1.3rem;
	font-weight: 100;
	line-height: 2;
}

input,
label[type='button'] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	font-size: 1.3rem;
	padding: 1rem 1.2rem;
	border-radius: 0.3rem;
	border: 1px solid #a9a9a9;
	margin-bottom: 1rem;
}

input[type='submit'],
label[type='button'] {
	background: #bababa;
	color: #ffffff;
	border: none;
	margin-top: 3.8rem;
	padding: 2rem;
	font-size: 1.5rem;
	font-weight: 100;
	letter-spacing: 1rem;
	text-transform: uppercase;
	cursor: pointer;
}

input[type='submit']:hover,
label[type='button']:hover {
	background: #e11061;
	transition: 0.5s;
}

label[type='button'] {
	line-height: normal;
	text-align: center;
	margin-top: 0rem;
}

/* className styles */

.loginCard {
	display: flex;
	justify-content: center;
}

input[type='email'],
input[type='password'],
input[type='text'] {
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom: groove #e11061;
	outline:none;
	
}
